
{% extends 'base.html' %}
{% load crispy_forms_tags %}

  {% block content %}
<div class="view" style="background-image: url('/static/Images/home.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

  <div class="container">
      <div class="row pt-5">
                                   <div class="card"style="height:400px;width:700px">
                                                                   <h5 class="card-header">Assign Maintenance</h5>

          <div class="card-body">

            <!-- Full Page Intro -->
<form action="" method="POST" >
    {% csrf_token %}

 <div class="form-row">
      <div class="form-group col-md-8 mb-0">
        {{ form.Property_Name|as_crispy_field }}
      </div>
 </div>
   <div class="form-row">

            <div class="form-group col-md-8 mb-0">
        {{ form.Property_Status_Description|as_crispy_field }}
      </div>
     </div>
     <div class="form-row">

                 <div class="form-group col-md-8 mb-0">
        {{ form.Expenses|as_crispy_field }}
      </div>

     </div>
     <div class="form-row">

                 <div class="form-group col-md-8 mb-0">
        {{ form.Maintenance_ID|as_crispy_field }}
      </div>
    </div>


                 <div class="text-center" >


    <button type="submit" class="btn-btn-success"><i class="fas fa-database"></i>submit</button>
 </div>
    </div>


</form>
          </div>
      </div>
  </div>
</div>
{% endblock %}