
{% extends 'base.html' %}
{% load crispy_forms_tags %}

  {% block content %}
<div class="view" style="background-image: url('/static/Images/home.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

  <div class="container">

      <div class="row pt-5">
                         <div class="card"style="height:600px;width:700px">
                                                                   <h5 class="card-header">Property</h5>


          <div class="card-body">

            <!-- Full Page Intro -->
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-4 mb-0">
        {{ form.Property_Name|as_crispy_field }}

      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.Total_Area|as_crispy_field }}

      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.Available_Areas|as_crispy_field }}

      </div>
    </div>

          <div class="form-row">
      <div class="form-group col-md-4 mb-0">
        {{ form.No_of_Rooms|as_crispy_field }}

      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.No_of_Bathrooms|as_crispy_field }}

      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.No_of_Floors|as_crispy_field }}

      </div>
          </div>

    <div class="form-row">
      <div class="form-group col-md-4 mb-0">
        {{ form.Property_Street|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.Property_City|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.Property_State|as_crispy_field }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 mb-0">
        {{ form.Garage_Capacity|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.Property_Host|as_crispy_field }}
      </div>
            <div class="form-group col-md-4 mb-0">
        {{ form.Price|as_crispy_field }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4 mb-0">
        {{ form.County|as_crispy_field }}
      </div>
      <div class="form-group col-md-4 mb-0">
        {{ form.Adults|as_crispy_field }}
      </div>
            <div class="form-group col-md-4 mb-0">
        {{ form.Children|as_crispy_field }}
      </div>
    </div>

        <div class="form-row">
      <div class="form-group col-md-4">
        {{ form.Property_Description|as_crispy_field }}
      </div>
            <div class="form-group col-md-4">
        {{ form.Property_Image|as_crispy_field }}
      </div>
        </div>
                               <div class="text-center">

    <button type="submit" class="btn-btn-success"><i class="fas fa-database"></i>submit</button>
            </div>


</form>
      </div>
  </div>
  </div>
</div>

{% endblock %}