<div class="view" style="background-image: url('/static/Images/home.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

  <div class="container">
            <!-- Full Page Intro -->
      <div class="row mt-5">
          <div class="col-md-5 ">


          <div class="view" style="background-image: url('/static/images/home.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
              <div class="row pt-5">
                  <div class="col-md-1" ></div>
                  <div class="col-md-9 ">
                      <div class="card card-body">
                          <p> Are you sure you want to delete the reservation for "{{item}}</p>
                          <form action ="{% url 'cancelbooking' %}" method="POST">
                              {% csrf_token %}
                          </form>

                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
