{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
<div class="container">
                               <div class="card " data-wow-delay="0.3s">
                                      <h5 class="card-header">Contact Information</h5>

  <div class="card-body pt-5 pl-3">
      <p>Do you have any questions? Please do not hesitate to contact us directly through below contact information.
      </p>
      <p>       <span class="glyphicon glyphicon-earphone mx-auto" ><b> (403)-678-3456</b></span></p>
      <p>            <a class="glyphicon glyphicon-envelope" ><b> mailtome@athleticfield.com</b></a></p>


</div>
</div>
  </div>
{% endblock %}
