{% extends 'base.html' %}

  {% block content %}


                <!--Grid row-->
                  <!--Grid column-->
                  <!--Grid column-->
                  <!--Grid column-->

<div class="view" style="background-image: url('/static/Images/home.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

  <div class="container">
            <!-- Full Page Intro -->
      <div class="row mt-5">
          <div class="col-md-5 ">

    <div class="card " style="width: 800px">
        <h4 class="card-header">Hello {{ user.get_username }},</h4>

        <h5 class="card-body">
            <p>Please click on My Bookings to view your current reservations with us.</p>
        </h5>

   <p class="lead">
   <div class="card-footer text-center">
            <a class="btn btn-primary btn-lg float-right" href="{% url 'airbnbapp:viewbookings' id=user.id %}" role="button">My Bookings</a>

    </div>
    </div>
          </div>
      </div>
  </div>
</div>
<p></p><p></p><p></p>
  <div class="container-1">
    <div class="row">
        {% for prop in props %}
           <div class="col-lg-4 col-sm-6 portfolio-item">
               <div class="card h-100">
               <a href="{% url 'airbnbapp:propertyview' id=prop.id %}"><img class="card-img-top" src={{prop.Property_Image.url}} alt=""></a>
               <div class="card-body">
               <h4 class="card-title">
               <a href="{% url 'airbnbapp:propertyview' id=prop.id %}">{{prop.Property_Name}}</a>
               </h4>
               <p class="card-text"><b>{{prop.Property_Description}}</b></p>
               <p class="card-text">{{prop.Price}}
               </div>
           </div>
           </div>
        {% endfor %}
    </div>
  </div>


{% endblock %}


