{% extends 'base.html' %}

  {% block content %}
<div class="view" style="background-image: url('/static/Images/home.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

  <div class="container">
            <!-- Full Page Intro -->

            <!-- Full Page Intro -->
      <div class="col-md-9 ">
<div class="card pt-5" style="width: 900px">
      <h4 >Hello{{ props.Property_Host }},</h4>
  <p >Please scroll below to view your properties with us.</p>
   <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'airbnbapp:Addproperty' %}" role="button">Add Properties</a>
   </p>
</div>
</div>

          <div class="container-1">
    <div class="row">
        {% for prop in props %}
           <div class="col-lg-4 col-sm-6 portfolio-item">
               <div class="card h-100">
               <a href="{% url 'airbnbapp:hostpropview' id=prop.id %}"><img class="card-img-top" src={{prop.Property_Image.url}} alt=""></a>
               <div class="card-body">
               <h4 class="card-title">
               <a href="{% url 'airbnbapp:hostpropview' id=prop.id %}">{{prop.Property_Name}}</a>
               </h4>
               <p class="card-text"><b>{{prop.Property_Description}}</b></p>
               <p class="card-text">{{prop.Price}}
               </div>
           </div>
           </div>
        {% endfor %}
    </div>
  </div>
  </div>
  </div>

{% endblock %}
