{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
  {% if form.errors %}
    <p>
      Your username and password didn't match.
      Please try again.
    </p>
  {% endif %}
<div class="container">
               <div class="card   " data-wow-delay="0.3s">
                                      <h5 class="card-header">Login</h5>

  <div class="card-body pt-5 pl-3">
      <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Log-in"></p>
    </form>
    <p><a href="{% url "password_reset" %}">Forgotten your  password?</a></p>
  </div>
            </div>
        </div>

</div>
{% endblock %}