{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="view" style="background-image: url('/static/Images/home.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

            <div class="mask  align-items-center">

<div class="container">
    <div class="card " data-wow-delay="0.3s">
                                      <h5 class="card-header">New Host</h5>

  <div class="card-body pt-5 pl-3 ">


            <form  method="post">
            {% csrf_token %}
               <table> {{ user_form.as_table }}</table>


                <div class="text-center">
                    <button type="submit" class="btn btn-outline-white-primary panel-footer"><i class="fa fa-user-md"></i> Register
                    </button>
                </div>
            </form>
                </div>
            </div>
                                </div>
        </div>
</div>
{% endblock %}
