{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags-->
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
  <link href="{% static 'vendor/fonts/glyphicons-halflings-regular.eot' %}" rel="stylesheet">
  <link href="{% static 'vendor/fonts/glyphicons-halflings-regular.svg' %}" rel="stylesheet">
  <link href="{% static 'vendor/fonts/glyphicons-halflings-regular.ttf' %}" rel="stylesheet">
  <link href="{% static 'vendor/fonts/glyphicons-halflings-regular.woff' %}" rel="stylesheet">
  <title>Property Management</title>


    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

  <!-- Icons font CSS-->
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">

  <!-- Bootstrap core CSS -->

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/datepicker.css' %}" rel="stylesheet">



<!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/main.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap-datepicker.js' %}"></script>
  <script>
      $(function() {
        $('.datepicker').datepicker();
        });
  </script>



</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href=/>Property Rental Management System</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'airbnbapp:aboutus' %}">About</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'airbnbapp:contact' %}">Contact</a>
          </li>
          <li class="nav-item">
              {% if user.is_authenticated %}
                        <li class="nav-item">

                                <a class="nav-link" href=/home>Home</a>
                        </li>
          <li class="nav-item">


                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>


              {% else %}
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sign Up
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                   <a class="dropdown-item" href="{% url 'guest_register' %}">Guest</a>
                   <a class="dropdown-item" href="{% url 'host_register' %}">Host</a>
                   <a class="dropdown-item" href="{% url 'maintenance_register' %}">Maintenance</a>
                  </div>

              {% endif %}
           </li>

          </li>




          </ul>
      </div>
    </div>
  </nav>

  {% block content %}

  <div class="container">
            <!-- Full Page Intro -->
  <div class="view" style="background-image: url('/static/Images/home.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="row mt-5">
          <div class="col-md-5 ">
                   <div class="card " data-wow-delay="0.3s">
                       <div class="card-body">
                           <form method="get">
                               <h3 class ="white-text">
                                   <i class ="white-text"> </i><b>Find a Place to Stay in Omaha</b>
                               </h3>
                               <div class="form-row">
                                   <div class="form-group col-12">
                                       <label for="Location">Where</label>
                                       <select id="Location" class="form-control" name="Location">
                                           <option selected>AnyWhere</option>
                                           {% for prop in props %}
                                              <option>{{ prop.County }}</option>
                                           {% endfor %}
                                       </select>
                                   </div>

                               </div>
                               <div class="form-row">

                                   <div class="form-group col-md-6">
                                       <label for="publishDateMin">Check In</label>
                                       <input type="date" class="form-control" id="publishDateMin" name="date_min">
                                   </div>
                                   <div class="form-group col-md-6">
                                       <label for="publishDateMax">Check Out</label>
                                       <input type="date" class="form-control" id="publishDateMax" name="date_max">
                                   </div>
                               </div>
                               <div class="form-row">
                                   <div class="form-group col-md-6">
                                       <label for="Adult">Adult</label>
                                       <select id="Adult" class="form-control" name="adult">
                                           <option selected>1</option>
                                           <option>1</option>
                                           <option>2</option>
                                           <option>3</option>
                                           <option>4</option>
                                           <option>5</option>
                                           <option>6</option>
                                           <option>7</option>
                                       </select>
                                   </div>
                                   <div class="form-group col-md-6">
                                       <label for="Children">Children</label>
                                       <select id="Children" class="form-control" name="child">
                                           <option selected>0</option>
                                           <option>1</option>
                                           <option>2</option>
                                           <option>3</option>
                                           <option>4</option>
                                           <option>5</option>
                                           <option>6</option>
                                           <option>7</option>
                                       </select>
                                   </div>
                               </div>

                               <button class="btn btn-primary" type="submit">search</button>
                           </form>

                       </div>
                   </div>
              </div>

          </div>
      </div>
  </div>
  <p></p>
  <p></p>
  <h4> Popular Places to Stay </h4>
  <div class="container-1">
    <div class="row">
        {% for prop in props %}
           <div class="col-lg-4 col-sm-6 portfolio-item">
               <div class="card h-100">
               <a href="{% url 'airbnbapp:propertyview' id=prop.id %}"><img class="card-img-top" src={{prop.Property_Image.url}} alt=""></a>
               <div class="card-body">
               <h4 class="card-title">
               <a href="{% url 'airbnbapp:propertyview' id=prop.id %}">{{prop.Property_Name}}</a>
               </h4>
               <p class="card-text"><b>{{prop.Property_Description}}</b></p>
               <p class="card-text">{{prop.Price}}
               </div>
           </div>
           </div>
        {% endfor %}
    </div>
  </div>
                {% endblock %}

</body>


</html>
