{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="view" style="background-image: url('/static/Images/home.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
<div class="row pt-5 pl-5">

               <div class="card"style="height:200px;width:500px">
                                      <h5 class="card-header">Pasword Reset</h5>

  <div class="card-body pt-5 pl-3">
  <h1>Password set</h1>
  <p>Your password has been reset. You can <a href="{% url "login" %}">log in now</a></p>
</div>
               </div>
</div>
</div>
{% endblock %}